#project-about {
    background-image: url(../images/photo-1450778869180-41d0601e046e.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 35vh;
    width: 100vw;
    overflow: hidden;
}

#project-info {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}